body {
    margin: 0;
    padding: 0;
    font: 100% Arial, sans-serif;
    background-color: #ccc;
}

section {
    margin: 1rem 0;
    background-color: white;
    padding: .75rem;
}

section .h2 {
    border-bottom: 2px solid;
    padding: .75rem;
    margin: 0;
    background: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.jumbotron {
    min-height: 80vh;
    background-image: url(../imgs/bg-2.jpg);
    background-size: cover;
    background-position: right center;
    padding: 10rem 2rem;
    color: white;
    text-align: center;
}

.jumbotron h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
}

.jumbotron p {
    padding: 1rem;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, .6);
    font-size: 1rem;
    display: inline-block;
}

.nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

.nav > li {
    border: 1px solid white;
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, .1);
}

.nav > li:hover {
    background-color: rgba(0, 0, 0, .3);
    
}

.nav >li a {
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: .75rem;
}

.cards-container {
    padding: .75rem 1.25rem;
}

.cards-container .card {
    border-radius: 0;
    border: none;
}

.cards-container .card-body {
    background-color: rgb(70, 70, 70);
    padding: 1rem;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .80rem;
    color: white;
}

.cards-container [class^=col]{
    padding-left: .5rem;
    padding-right: .5rem;
}

.rodape {
    height: 4rem;
    color: white;
    font-size: .8rem;
    text-align: center;
    text-shadow: 2px 2px 1px black;
    background-color: #6b6c68;
    padding: 1rem;
}

.rodape p {
    margin: 0;
}


